*, *:before, *:after {
  box-sizing: border-box;
}

a, a:visited, a:link {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
}
