.logo {
  max-width: 300px;
}

main > header, .hero > header {
  padding: 20px 40px;
}

.hero header nav {
  float: right;
  font-size: 20px;
  padding: 30px 15px;
}

.hero header img {
  float: left;
}

.hero header:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 70px;
  max-width: 875px;
  margin: 150px auto 0 auto;
}

h3 {
  font-size: 40px;
  text-align: center;
  color: #61cc96;
}

.hero {
  min-height: 1000px;
  background-image: url('../bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.search-input {
  margin: 0 auto;
  max-width: 400px;
}

@media screen and (max-width: 520px) {
  main > header, .hero > header {
    padding: 20px 20px;
  }
}