.search-header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 80px 0 rgba(0,0,0,0.3);
  z-index: 20;
}

.search {
  background-color: #eee;
  padding-top: 80px;
  position: fixed;
  top: 0;
  left: 320px;
  right: 0;
  bottom: 0;
  color: #222;
  overflow: scroll;
}

.search-header .logo {
  height: 40px;
}

.search-header .search-input {
  float: right;
  padding: 2px 0;
}

.search-header .search-input input {
  background-color: #eee;
}

.search aside {
  background-color: #222;
  width: 320px;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  color: white;
  padding: 30px 40px;
}

.search aside h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

.search aside ul {
  list-style-type: none;
  margin: 0 0 80px 0;
  padding: 0;
}

.filters li {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.filters li:hover {
  cursor: pointer;
}

.filters li:before {
  content: '✔';
  color: #222;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 4px solid;
}

.filters li.disabled:before {
  background-color: #222;
}

.results {
  max-width: 760px;
  margin: 0 auto;
  padding: 30px 40px;
  list-style-type: none;
  font-size: 22px;
}
.results > * {
  padding: 0;
  margin: 0 0 30px 0;
}

.results li.list-heading {
  display: block;
  margin-bottom: 25px;
  background: transparent;
}

.results li.list-heading em {
  color: #d41e9a;
  font-weight: 600;
  font-style: normal;
}

.results li.list-heading strong {
  font-weight: 600;
}

.filters .other:before {
  background-color: #d41e9a;
  border-color: #d41e9a;
}

.filters .decision:before {
  background-color: #efa751;
  border-color: #efa751;
}

.filters .facts:before {
  background-color: #27d6c3;
  border-color: #27d6c3;
}