.search {
  background-color: #eee;
  padding-top: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #222;
  overflow: scroll;
}

.results {
  padding: 30px 40px;
  list-style-type: none;
  max-width: 760px;
  margin: 0 auto;
}

.results > * {
  padding: 0;
  margin: 0 0 30px 0;
}

.results li.list-heading {
  display: block;
  margin-bottom: 25px;
  background: transparent;
}

.results li.list-heading em {
  color: #d41e9a;
  font-weight: 600;
  font-style: normal;
}

.results li.list-heading strong {
  font-weight: 600;
}

.filters .other:before {
  background-color: #d41e9a;
  border-color: #d41e9a;
}

.filters .decision:before {
  background-color: #efa751;
  border-color: #efa751;
}

.filters .facts:before {
  background-color: #27d6c3;
  border-color: #27d6c3;
}

@media screen and (max-width: 520px) {
  .results {
    padding: 30px 20px;
  }
}