.case {
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
  padding: 60px 0 10px 0;
  max-width: 760px;
  font-size: 22px;
  margin: 0 auto 30px auto;
  position: relative;
}

.case header {
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0 0 20px;
  font-size: 16px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.case header .tab {
  padding: 9px 20px 8px 20px;
  display: block;
  float: left;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-top: 5px;
  margin-right: 10px;
}

.case header .tab.active {
  font-weight: 700;
  background-color: white;
}

.case header .tab.active:hover {
  background-color: white;
}

.case header .tab:hover {
  cursor: pointer;
}

.expand-button {
  float: right;
  height: 43px;
  width: 43px;
  background: transparent;
  border-left: 1px solid #ddd;
  padding: 0;
  font-size: 22px;
}

.expand-button:hover {
  background-color: #eee;
}

.expand-button:focus {
  outline: 0;
}

.case > * {
  padding: 0 40px;
  margin: 0 0 20px 0;
}

.case a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.expand-prompt:hover, .expand-button:hover {
  cursor: pointer;
}

.expand-prompt:hover {
  text-decoration: underline;
}

.expand-prompt {
  font-size: 16px;
  color: #777;
  font-style: italic;
  display:inline-block;
}

.case iframe {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: -15px;
  width: 100%;
  height: 60vh;
  border: 1px solid #eee;
}