.case {
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
  padding: 60px 0 10px 0;
  max-width: 760px;
  font-size: 22px;
  margin: 0 auto 30px auto;
  position: relative;
  -webkit-overflow-scrolling:touch;
  overflow:auto;
}

.case header {
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0 0 20px;
  font-size: 16px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.case .interactions {
  margin: 0;
}

.case .interactions button,
.case .interactions span {
  font-size: 14px;
  border: 1px solid transparent;
  padding: 5px 10px;
  float: right;
  margin-bottom: -2px;
}

.case .interactions button {
  border: 1px solid #999;
  color: #999;
  border-radius: 3px;
  cursor: pointer;
}

.case .interactions span {
  color: #999;
}

.case article h4 {
  letter-spacing: 2px;
}

.case header::-webkit-scrollbar {
  display: none;
}

.case header .tab {
  padding: 9px 20px 8px 20px;
  display: block;
  float: left;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-top: 5px;
  margin-right: 10px;
}

.case header .tab.active {
  font-weight: 700;
  background-color: white;
}

.case header .tab.active:hover {
  background-color: white;
}

.case header .tab:hover {
  cursor: pointer;
}

.case h5 {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat';
  padding: 3px 5px;
  background-color: #efa751;
  border-color: #efa751;
}

.case p {
  text-align: justify;
  font-family: 'EB Garamond';
  -webkit-font-smoothing: default;
  font-size: 18px;
  line-height: 150%;
}

.case p h5 {
  line-height: 120%;
}

.case .embed-wrap {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.case iframe {
  width: 100%;
  min-height: 60vh;
  margin-bottom: -15px;
  border: 1px solid #eee;
  -webkit-overflow-scrolling:touch;
  overflow:auto;
}


.expand-button {
  height: 43px;
  width: 43px;
  background-color: #f8f8f8;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  font-size: 22px;
}

.expand-button:hover {
  background-color: #eee;
}

.expand-button:focus {
  outline: 0;
}

.case > * {
  padding: 0 40px;
  margin: 0 0 20px 0;
}

.case a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.expand-prompt:hover, .expand-button:hover {
  cursor: pointer;
}

.expand-prompt:hover {
  text-decoration: underline;
}

.expand-prompt {
  font-size: 16px;
  color: #777;
  font-style: italic;
  display:inline-block;
}


@media screen and (max-width: 760px) {
  .case {
    padding-top: 0;
  }
  .case header {
    border-top: 1px solid #ddd;
    display: block;
    height: auto;
    position: relative;
    z-index: 20;
    margin: 0 0 20px 0;
    width: 100%;
  }
  .case header .tab {
    float: none;
    display: inline-block;
    padding: 6px 10px 5px 10px;
    border: 1px solid #ddd;
    margin: 4px;
  }
}